{% extends 'base.html.twig' %}

{% block body %}
    {% if error is defined and error.messageKey is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
