{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    {% if products|length > 0 %}
        <table>
        <thead>
            <tr>
                <th>Productid</th>
                <th>Vendorcode</th>
                <th>Active</th>
                <th>Sort</th>
                <th>Name</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Createdate</th>
                <th>Updatedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': product.productId }) }}">{{ product.productId }}</a></td>
                <td>{{ product.vendorCode }}</td>
                <td>{% if product.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ product.sort }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.price }}</td>
                <td>{% if product.createDate %}{{ product.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.updateDate %}{{ product.updateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('item_show', { 'id': product.productId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('item_edit', { 'id': product.productId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <span>No items found</span>
    {% endif %}
    <ul>
        <li>
            <a href="{{ path('item_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
