{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Productid</th>
                <td>{{ product.productId }}</td>
            </tr>
            <tr>
                <th>Vendorcode</th>
                <td>{{ product.vendorCode }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if product.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ product.sort }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{% if product.createDate %}{{ product.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedate</th>
                <td>{% if product.updateDate %}{{ product.updateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('item_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('item_edit', { 'id': product.productId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <li>
            {{ form_start(add_to_basket_form) }}
            <input type="submit" value="Add to basket">
            {{ form_end(add_to_basket_form) }}
        </li>
    </ul>
{% endblock %}
